/*
CSS de mi pag web de Rodrigo
*/


body {

    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/medacc.jpg");
    

}


h1 {
    color: navy;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-style: wavy;
    text-align: center;
}

h2 {
    color: teal;

}

a {

    text-decoration: unset;
}

#titulo {

    color: gray;
    text-align: center;
    font-style: italic ;

}

.favorito {

    color: red;
    font-weight: bold;


}

.listA{

    color: aliceblue;
    background-color: green;
    margin: 10  px;
    
}

.listaB{

    color: black;
    background-color: orange;
    margin: 10px;
    
}

.curso{

    border: 2px solid teal;
    border-radius: 10px;
    margin: 20px;
   

}

a:link{

    color: black;
}

a:visited{
    color: red;
}

a:hover{
    background-color: black;
}
